<div class="w-full   md:w-2/3 m-auto bg-white py-3 px-2">
    <!--max-w-xl-->
    <div class="flex flex-wrap -mx-3 mt-3 mb-3">
        <div class="w-full px-3">
            <div class="flex  px-3">
                <img alt="AuditProof Logo" routerlink="/welcome" class="mb-2 px-2 cursor-pointer" width="80" src="/assets/logo.PNG" />
                <a class="py-1 text-blue-500 w-full text-right cursor-pointer" href="javascript:void(0);" title="Home"
                    (click)="navigateToDefaultScreen()">
                    <i class="fa fa-home fa-lg"></i>
                </a>
            </div>
        </div>

        <ng-container *ngIf="step === 1" id="UploadDocument">
            <p class="mt-2 text-lg  leading-tight font-light px-6">Ready to sign a document.</p>
            <div class="w-full px-3 mt-4" *ngIf="!isInitiatedAPI">
                <div class="flex px-3 mt-2">
                    <div class="w-full md:w-1/2">
                        <label class="block  tracking-wide text-blue-700 text-xs font-bold mb-2" for="documentUpload">
                            Upload the document<span class="text-red-500 font-bold"> *</span>
                        </label>

                        <label class="flex flex-col w-full items-center px-2 py-2 bg-white text-blue rounded-lg
                                         shadow-lg tracking-wide  border border-blue cursor-pointer
                                         hover:bg-blue hover:text-blue-500"
                            (change)="onUploadDocChange($event)">
                            <div class="flex w-full text-blue-500">
                                <i class="fa fa-upload  m-auto fa-2x"></i>
                            </div>
                            <span class="text-base leading-normal">Select a file</span>
                            <input type='file' class="hidden" #docUploadEle required accept="application/pdf" id="documentUpload"
                                name="documentUpload" />
                        </label>

                        <ng-container class="block mt-1" *ngIf="uploadDocFile">
                            <p class="text-xs inline leading-normal font-light">
                                Name: {{uploadDocFile.name}}
                            </p>
                            <p class="text-xs inline leading-normal font-light px-3">
                                Size: {{uploadDocFile.size}}
                            </p>
                        </ng-container>
                    </div>

                </div>

                <div class="flex px-3 mt-2">
                    <div class="w-full md:w-1/2">
                        <button type="button" class="w-32 uppercase bg-transparent rounded focus:outline-none
                                border    text-center text-white font-semibold py-2 px-4  "
                            [ngClass]="{'text-gray-400 border-gray-300': !isSigningInitialized,
                                'text-blue-500 border-blue-300 hover:bg-gray-100 hover:text-black':isSigningInitialized}"
                            [disabled]="!isSigningInitialized" (click)="nextStep(2)">
                            Next
                        </button>
                    </div>
                </div>
            </div>
            <div *ngIf="isInitiatedAPI">
                <div class="w-full md:w-1/2 h-full fixed  top-0 left-0 bg-white opacity-75 z-50">
                    <span class="text-green-500 opacity-75 top-1/2 my-0 mx-auto block relative w-0 h-0" style="
                              top: 50%;
                          ">
                        <i class="fa fa-spinner fa-2x"></i>
                    </span>
                </div>
            </div>
        </ng-container>

        <ng-container *ngIf="step === 2" id="selectorContainer">
            <div class="w-full  md:w-1/2 px-3 mt-4" id="parametriContainer">
                <a class="text-blue-500 hover:text-blue-800" href="javascript:void(0);" title="Step {{step - 1 }}"
                    (click)="previousStep(step)">Back</a>

                <p class="mt-2 text-lg leading-tight font-light">Verify the document and sign.</p>

                <p class="mt-2 text-lg text-blue-500 leading-tight font-light">Drag and drop your signature on the</p>
                <p class="text-lg leading-tight text-blue-500 font-light">document where needed.</p>


                <div class="flex mt-2">
                    <div class="text-sm ">
                        <div class="block text-blue-500">Signature</div>
                        <div class="block border border-gray-200 ">
                            <div id="yes-drop" class="draggable drag-drop" width="16" height="16">
                                <img class="tool" [src]="signImage" alt="Signature">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="flex flex-wrap -mx-3 mt-3 mb-3">
                    <div class="w-full  px-3">
                        <label class="block tracking-wide text-blue-500 text-xs font-bold mb-2" for="privateKey">
                            PLACEHOLDER <span class="text-red-500 font-bold"> *</span>
                        </label>
                    </div>
                </div>



                <div class="flex mt-2">
                    <div class="w-full">
                        <button type="button" class="w-32 uppercase bg-transparent rounded focus:outline-none border text-blue-500 border-blue-300 hover:bg-gray-100 hover:text-black hover:bg-gray-100  text-blue-500
                        hover:text-black text-center text-white font-semibold py-2 px-4  "
                            (click)="preview()">
                            Preview
                        </button>
                        <button type="button" class="w-32 uppercase bg-transparent rounded focus:outline-none border
                                        border-blue-300 hover:bg-gray-100  text-blue-500 ml-2
                                        hover:text-black text-center text-white font-semibold py-2 px-4  "
                            (click)="nextStep(3)" *ngIf="previewPDFFile">
                            Next
                        </button>
                    </div>
                </div>
            </div>
            <div class="w-full  md:w-1/2 px-3 mt-4">
                <p class="mt-2 text-sm leading-tight font-light">Document</p>

                <div class="max-w-xl w-full lg:max-w-full lg:flex">
                    <div class="w-full border border-gray-400
                     bg-white rounded-b lg:rounded-b-none lg:rounded-r p-4 flex flex-col justify-between
                     leading-normal">
                        <div id="pageContainer" class="pdfViewer singlePageView dropzone">
                            <canvas id="the-canvas"></canvas>
                        </div>
                    </div>
                </div>



                <div *ngIf="showPreviewModal" class="modal  fixed w-full h-full top-0 left-0
					flex items-center justify-center">
                    <div class="modal-overlay absolute  w-full h-full bg-black opacity-50 cursor-pointer"></div>
                    <!--Modal-->
                    <div class="modal modal-active fixed w-full h-full top-0 left-0 flex items-center
						 justify-center">
                        <div class="modal-overlay absolute w-full h-full bg-gray-900 opacity-50"></div>

                        <div class="modal-container bg-white w-11/12 md:max-w-md mx-auto rounded shadow-lg z-50 overflow-y-auto">
                            <div (click)="hideModal()" class="modal-close absolute top-0 right-0 cursor-pointer flex flex-col items-center mt-4 mr-4 text-white text-sm z-50">
                                <i class="fa fa-times fa-2x" aria-hidden="true"></i>
                            </div>
                            <!-- Add margin if you want to see some of the overlay behind the modal-->
                            <div class="modal-content py-4 text-left px-6">
                                <!--Title-->
                                <div class="flex justify-between items-center pb-3">
                                    <p class="text-2xl font-bold">Preview</p>
                                    <div class="modal-close cursor-pointer z-50" (click)="hideModal()">
                                        <i class="fa fa-times fa-2x" aria-hidden="true"></i>
                                    </div>
                                </div>

                                <!--Body-->
                                <div class="w-full border border-gray-400
                                bg-white rounded-b lg:rounded-b-none lg:rounded-r p-4 flex flex-col justify-between
                                ">
                                    <img alt="Preview PDF" [src]="previewPDFFile" />
                                </div>
                                <!--Footer-->
                                <div class="flex justify-end pt-2">
                                    <button (click)="hideModal()" class="modal-close px-4 bg-indigo-500 p-3 rounded-lg text-white hover:bg-indigo-400">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </ng-container>

        <ng-container *ngIf="step === 3" id="PrivateKey">

            <div class="w-full  md:w-1/2 px-3 mt-4">
                <!-- Private Key -->
                <a class="text-blue-500 hover:text-blue-800" href="javascript:void(0);" title="Step {{step - 1 }}"
                    (click)="previousStep(step)">Back</a>

                <p class="mt-1 text-lg leading-tight font-light">Enter your private key to sign the document.</p>
                <div class="flex flex-wrap -mx-3 mt-3 mb-3">
                    <div class="w-full  px-3">
                        <label class="block tracking-wide text-blue-500 text-xs font-bold mb-2" for="privateKey">
                            Private Key <span class="text-red-500 font-bold"> *</span>
                        </label>
                        <input class="appearance-none shadow w-full   text-gray-700 border border-gray-200 rounded py-3 px-4  leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
                            id="privateKey" name="privateKey" [(ngModel)]="privateKeyHex" type="text" placeholder="Enter Private Key">
                    </div>
                </div>
                <!-- Private Key -->

                <div class="flex mt-2">
                    <div class="w-full md:w-1/2">
                        <button type="button" class="w-32 uppercase bg-transparent rounded focus:outline-none border
                                             hover:bg-gray-100  text-blue-500
                                            hover:text-black text-center text-white font-semibold py-2 px-4  "
                            (click)="nextStep(4)" [disabled]="!privateKeyHex" [ngClass]="{'text-gray-400 border-gray-300': !privateKeyHex,
                            'text-blue-500 border-blue-300 hover:bg-gray-100 hover:text-black':privateKeyHex}">
                            Next
                        </button>
                    </div>
                </div>
            </div>
        </ng-container>


        <ng-container *ngIf="step === 4" id="Confirmation">
            <div class="w-full px-3 mt-4" *ngIf="!isFinalSubmit">
                <a class="text-blue-500 hover:text-blue-800" href="javascript:void(0);" title="Step {{step - 1 }}"
                    (click)="previousStep(step)">Back</a>

                <p class="mt-1 text-lg leading-tight font-light">Almost there...</p>

                <p class="text-lg text-blue-500 leading-tight font-light">Are you sure you want to submit the</p>
                <p class="text-lg leading-tight text-blue-500 font-light">document to blockchain?</p>


                <div class="flex mt-2">
                    <div class="w-full md:w-1/2">
                        <button type="button" class="w-32 uppercase bg-blue-500 hover:bg-blue-700 text-white font-bold uppercase py-2 px-4 rounded focus:outline-none focus:shadow-outline"
                            (click)="submitSignatureDoc()">
                            Submit
                        </button>
                    </div>
                </div>
            </div>
            <div *ngIf="isFinalSubmit">
                <div class="w-full md:w-1/2 h-full fixed  top-0 left-0 bg-white opacity-75 z-50">
                    <span class="text-green-500 opacity-75 top-1/2 my-0 mx-auto block relative w-0 h-0" style="
                              top: 50%;
                          ">
                        <i class="fa fa-spinner fa-2x"></i>
                    </span>
                </div>
            </div>
        </ng-container>


        <ng-container *ngIf="step === 5" id="Final">
            <p class="mt-1 text-lg leading-tight font-light w-full">Hurray...</p>
            <p class="mt-1 text-lg leading-tight font-light text-blue-500 w-full">Document signed Successfully!</p>

            <div class="flex w-full m-auto text-green-500">
                <i class="fa fa-check-circle fa-5x"></i>
            </div>
            <div class="w-full mt-3">
                <button type="button" class="w-32 uppercase bg-blue-500 hover:bg-blue-700 text-white font-bold
                uppercase py-2 px-4 rounded focus:outline-none focus:shadow-outline"
                    (click)="setDocumentMetadata()">
                    Download
                </button>

                <button type="button" class="w-32 uppercase bg-transparent rounded focus:outline-none border
                border-blue-300 hover:bg-gray-100  text-blue-500
                hover:text-black text-center text-white font-semibold py-2 px-4 ml-2   "
                    (click)="navigateToDashboard()">
                    Dashboard
                </button>
            </div>

        </ng-container>


    </div>

</div>