<div class="flex bg-gray-300 py-10">
    <div class="w-full m-auto my-8 max-w-md"> 
        <div class="bg-red-100 border-t-4   border-red-500 text-center rounded-b text-red-900 px-4 py-6 shadow-md" role="alert">
            <div class="flex">
                <div class="py-1 text-red-500 m-auto">
                    <i class="fa fa-exclamation-circle fa-5x"></i>
                    <div>
                        <p class="font-bold">Sorry! Page not found</p>
                    </div>
                </div>
                <div>
                    <a class="py-1 text-blue-500 w-full " href="javascript:void(0);" title="Home"
                    routerLink="/welcome">
                       <i class="fa fa-home fa-2x"></i>
                   </a>
                </div>
            </div>
          </div>
    </div>
</div>