<div class="flex  h-screen bg-white py-3 px-4">
    <div class="w-full px-3">
        <div class="flex   w-full m-auto  px-3">
            <img alt="AuditProof Logo" class="mb-2 px-2" width="80"  src="/assets/logo.PNG" />
            <a class="py-1 text-blue-500 w-full text-right" href="javascript:void(0);" title="Home"
             routerLink="/welcome">
                <i class="fa fa-home fa-lg"></i>
            </a>
        </div>
        <p class="mt-2 text-lg leading-tight font-semibold px-3">Dashboard</p>

        <div class="flex mt-2 w-full m-auto  px-3">
                <button type="button" class="w-48 uppercase bg-transparent rounded focus:outline-none
                border border-blue-300  hover:bg-gray-100  text-blue-500 
                hover:text-black text-center text-white font-semibold py-2 px-4  "  >
                        Validate a Doc
                </button>
                <button type="button" class="w-48 uppercase bg-transparent rounded focus:outline-none border
                border-blue-300 hover:bg-gray-100  text-blue-500 
                hover:text-black text-center text-white font-semibold py-2 px-4 ml-2  "  >
                Sign a Doc
                </button>
        </div>

    </div>
</div>
