<div class="w-full">
    <nav class="w-16 h-full bg-yellow-400 flex justify-center absolute border-r-4 border-gray-800">
    </nav>
    <div class="ml-24 mr-4">
        <nav class="flex px-auto mx-auto pt-2 items-center justify-between">
            <img src="/assets/logo.png" class="w-48" />
            <div class="flex items-center">
                <img src="/assets/search.png" class="py-2 w-16 h-12 px-4" />
                <button class="w-40 py-2 px-4 bg-yellow-400 rounded outline-none">Log Out</button>
            </div>
        </nav>
        <div class="flex justify-between mt-4">
            <div class="flex flex-col">
                <div class="flex justify-between">
                    <span class="text-2xl text-gray-400 font-bold">My documents</span>
                    <div class="p-2 flex items-end ml-4">
                        <span class="text-xs">view</span>
                        <div class="bg-gray-800 ml-2">A</div>
                        <div class="bg-gray-800 ml-2">A</div>
                    </div>
                </div>
                <div class="flex justify-between">
                    <div class="flex flex-col items-center">
                        <button class="bg-yellow-400 w-full rounded h-2"></button>
                        <div class="flex mt-1 items-center">
                            <span class="text-xs">Ongoing</span>
                            <span class="text-xs bg-yellow-400 p-1 font-bold ml-2 rounded">10</span>
                        </div>
                    </div>
                    <div class="flex flex-col items-center">
                        <button class="bg-gray-200 w-full rounded h-2"></button>
                        <div class="flex mt-1 items-center">
                            <span class="text-xs text-gray-400">Published</span>
                            <span class="text-xs bg-gray-200 p-1 font-bold ml-2 rounded text-gray-400">10</span>
                        </div>
                    </div>
                    <div class="flex flex-col items-center">
                        <button class="bg-gray-200 w-full rounded h-2"></button>
                        <div class="flex mt-1 items-center">
                            <span class="text-xs text-gray-400">All</span>
                            <span class="text-xs bg-gray-200 p-1 font-bold ml-8 rounded text-gray-400">10</span>
                        </div>
                    </div>
                </div>
                <div class="mt-2">
                    <div class="items-start w-full bg-blue-400 p-3 rounded flex flex-col">
                        <span class="text-md text-gray-800 font-bold">Document Name</span>
                        <span class="text-xs font-bold rounded text-red-600">private key needed</span>
                    </div>
                    <div class="items-start w-full bg-gray-200 p-3 rounded flex flex-col mt-2">
                        <span class="text-md text-gray-800 font-bold">Document Name</span>
                        <span class="text-xs font-bold rounded text-green-600">Signed</span>
                    </div>
                    <div class="items-start w-full bg-gray-200 p-3 rounded flex flex-col mt-2">
                        <span class="text-md text-gray-800 font-bold">Document Name</span>
                        <span class="text-xs font-bold rounded text-red-600">Signature Needed</span>
                    </div>
                    <div class="items-start w-full bg-gray-200 p-3 rounded flex flex-col mt-2">
                        <span class="text-md text-gray-800 font-bold">Document Name</span>
                        <span class="text-xs font-bold rounded text-red-600">Signature Needed</span>
                    </div>
                    <div class="items-start w-full bg-gray-200 p-3 rounded flex flex-col mt-2">
                        <span class="text-md text-gray-800 font-bold">Document Name</span>
                        <span class="text-xs font-bold rounded text-red-600">Signature Needed</span>
                    </div>
                    <div class="items-start w-full bg-gray-200 p-3 rounded flex flex-col mt-2">
                        <span class="text-md text-gray-800 font-bold">Document Name</span>
                        <span class="text-xs font-bold rounded text-red-600">Signature Needed</span>
                    </div>
                    <div class="items-start w-full bg-gray-200 p-3 rounded flex flex-col mt-2">
                        <span class="text-md text-gray-800 font-bold">Document Name</span>
                        <span class="text-xs font-bold rounded text-red-600">Signature Needed</span>
                    </div>
                </div>
                <div class="items-start w-full rounded mt-2 flex items-center">
                    <button class="bg-yellow-500 text-3xl font-bold rounded-full h-10 w-10 flex items-center justify-center">+</button>
                    <span class="text-md font-bold rounded ml-2">Upload New Document</span>
                </div>
                <span class="text-sm text-gray-400 mt-4">Balance Amount in account $200</span>
            </div>
            <div class="bg-gray-200 p-6 flex flex-col rounded">
                <div class="flex">
                    <div class="flex justify-center">
                        <button class="bg-yellow-400 w-32 rounded h-2 mt-4"></button>
                        <div class="absolute w-24 flex flex-col items-center text-center top-10">
                            <img src="/assets/watchicon.png" class="w-8 text-center"/>
                            <span class="text-xs mt-4 font-bold">Service request submitted</span>
                        </div>
                    </div>
                    <div class="flex justify-center">
                        <button class="bg-yellow-400 w-56 rounded h-2 mt-4"></button>
                        <div class="absolute w-24 flex flex-col items-center text-center top-10">
                            <img src="/assets/searchicon.png" class="w-8 text-center"/>
                            <span class="text-xs mt-4 font-bold">Verified by service provider</span>
                        </div>
                    </div>
                    <div class="flex justify-center">
                        <button class="bg-yellow-400 w-56 rounded h-2 mt-4"></button>
                        <div class="absolute w-16 flex flex-col items-center text-center top-10">
                            <img src="/assets/diary.png" class="w-8 text-center"/>
                            <span class="text-xs mt-4 font-bold">Owner Signature</span>
                        </div>
                    </div>
                    <div class="flex justify-center">
                        <button class="bg-yellow-400 w-32 rounded h-2 mt-4"></button>
                        <div class="absolute w-16 flex flex-col items-center text-center top-10">
                            <div class="bg-blue-400 rounded-full w-12 p-2">
                                <img src="/assets/diary.png" class="w-8 text-center"/>
                            </div>
                            <span class="text-xs mt-1 font-bold">Verifier Signature</span>
                        </div>
                    </div>
                    <div class="flex justify-center opacity-25">
                        <button class="bg-gray-400 w-56 rounded h-2 mt-4"></button>
                        <div class="absolute w-24 flex flex-col items-center text-center top-10">
                            <img src="/assets/folder.png" class="w-8 text-center"/>
                            <span class="text-xs mt-4 font-bold">Uploaded Document on blockchain</span>
                        </div>
                    </div>
                    <div class="flex justify-center opacity-25">
                        <button class="bg-gray-400 w-40 rounded h-2 mt-4"></button>
                        <div class="absolute w-24 flex flex-col items-center text-center top-10">
                            <img src="/assets/folder.png" class="w-8 text-center"/>
                            <span class="text-xs mt-4 font-bold">Published on blockchain</span>
                        </div>
                    </div>
                </div>
                <hr class="w-full border-2 mt-24 border-gray-500 rounded"/>
                <div class="flex w-full h-full pt-4 justify-between">
                    <div class="flex flex-col  w-3/5 h-full items-center">
                        <div class="w-full h-full overflow-y-auto">
                            <div class="bg-white full h-full">
                            </div>
                        </div>
                        <button class="bg-yellow-500 mt-4 w-32 rounded pr-8 pl-8 pt-3 pb-3">Submit</button>
                    </div>
                    <hr class="h-full border-2 ml-8 border-gray-500 rounded">
                    <div class="flex flex-col">
                    </div>
                </div>
            </div>
        </div>
        

    </div>
</div>
