<div class="flex  px-3">
    <span class="w-1/2">
        <img alt="AuditProof Logo" class="mb-2 px-2 cursor-pointer" (click)="welcomeScreen()" src="/assets/logo.png" />
    </span>
    <span class="w-1/2 text-right">
        <a class="py-1 px-1 text-blue-500  text-right cursor-pointer" href="javascript:void(0);" title="Home" (click)="navigateToDefaultScreen()">
            <i class="fa fa-home fa-lg"></i>
        </a>
        <a class="py-1 px-1 text-orange-500   text-right cursor-pointer" href="javascript:void(0);" title="Logout"
            (click)="logOut()">
            <i class="fa fa-sign-out fa-lg"></i>
        </a>
    </span>

</div>