<div class="py-10">
    <div class="w-full m-auto my-8 max-w-md">

        <form class=" px-8 pt-6 pb-8 mb-4" (ngSubmit)="loginForm.form.valid && onLogin(loginForm)" #loginForm="ngForm"
            novalidate>
            <img alt="AuditProof Logo" class="mb-2 text-left" width="65" src="/assets/logo.PNG" />

            <p class="mt-1 text-lg leading-tight font-light">We're glad you're back!</p>
            <p class="text-lg leading-tight font-light">Sign In here, please.</p>


            <div class="mt-3 mb-4">
                <label class="block text-gray-700 text-sm font-bold mb-2" for="username">
                    Email <span class="text-red-500 font-bold"> *</span>
                </label>
                <input class="shadow appearance-none border rounded w-full py-2 px-3 
                text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                    email="true" id="username" [(ngModel)]="signInForm.user" #username="ngModel" [ngClass]="{ 'border-red-500': loginForm.submitted && (username.touched && username.invalid) }"
                    name="username" required type="text" placeholder="Enter Email">
                <div *ngIf="loginForm.submitted || ( username.touched  && username.invalid)">
                    <p class="text-red-500 text-xs italic" *ngIf="username.errors?.required">
                        Email is required
                    </p>
                    <p class="text-red-500 text-xs italic" *ngIf="username.errors?.email">
                        Incorrect Email.
                    </p>
                </div>
            </div>

            <div class="mb-4">
                <label class="block text-gray-700 text-sm font-bold mb-2" for="password">
                    Password <span class="text-red-500 font-bold"> *</span>
                </label>
                <input class="shadow appearance-none border rounded w-full 
                py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                    id="password" name="password" required type="password" placeholder="Enter Password" [ngClass]="{'border-red-500': loginForm.submitted && (password.touched && password.invalid) } "
                    [(ngModel)]="signInForm.passwd" #password="ngModel">
                <div *ngIf="loginForm.submitted || (password.touched && password.invalid)">
                    <p class="text-red-500 text-xs italic" *ngIf="password.errors?.required">
                        Password is required
                    </p>
                </div>
            </div>

            <div class="flex items-center justify-between">
                <button [disabled]="!loginForm.form.valid" [ngClass]="{'opacity-50 cursor-not-allowed':!loginForm.form.valid}"
                    class="bg-blue-500 hover:bg-blue-700 text-white font-bold uppercase py-2 px-4 rounded focus:outline-none focus:shadow-outline"
                    type="submit">
                    Login
                </button>
                <button class="bg-white hover:bg-gray-100 text-gray-800 font-semibold  py-2 px-4 border border-gray-400 
                    rounded focus:outline-none focus:shadow-outline"
                    type="button" (click)="newLoginForm(); loginForm.reset()">
                    Reset
                </button>
                <a class="inline-block align-baseline font-bold text-sm text-blue-500 hover:text-blue-800" href="#"
                    *ngIf="false">
                    Forgot Password?
                </a>
            </div>

            <p class="  text-sm leading-tight font-light">
                First time here?
                <a class="inline-block align-baseline font-semibold text-sm text-blue-500 hover:text-blue-900"
                    routerLink="/authentication/sign-up" href="javascript:void(0);">
                    Sign Up here
                </a>
            </p>

            <!-- Error Message -->
            <div class="bg-red-100 mt-3 border border-red-400 text-red-700 px-4 py-3 rounded relative" *ngIf="loginForm.submitted && loginStatus && loginStatus.hasError"
                role="alert">
                <span class="absolute top-0 bottom-0 right-0 px-4 py-3 text-red-500">
                    <i class="fa  fa-exclamation-circle  fa-2x"></i>
                </span>
                <span class="block sm:inline">{{loginStatus.message}}</span>
            </div>
            <!-- Error Message -->

            <!-- Success Message -->
            <div class="bg-green-100 mt-3 border border-green-400 text-green-700 px-4 py-3 rounded relative" *ngIf="loginForm.submitted && !loginStatus.hasError && loginStatus.message.length"
                role="alert">
                <span class="absolute top-0 bottom-0 right-0 px-4 py-3 text-green-500">
                    <i class="fa  fa-check-circle  fa-2x"></i>
                </span>
                <span class="block sm:inline">{{loginStatus.message}}</span>
            </div>
            <!-- Success Message -->

        </form>
    </div>
</div>