    <div class="w-full  rounded m-auto text-center my-32 max-w-md py-10">
        <img alt="AuditProof Logo" class="m-auto mb-8" width="100" src="/assets/logo.PNG" />
        <p class="text-2xl font-bold"> Welcome to AuditProof</p>

        <p class=" mt-2 text-lg leading-tight font-light"> Connecting you to our decentralised web.</p>
        <p class=" text-lg leading-tight font-light"> We are happy to see you.</p>

        <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold mt-8 items-center   
            focus:outline-none py-2 px-4  uppercase rounded-full" (click)="navigateToLoginScreen()">
            Get Started
        </button>
    </div>